{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
</head>

<body>
    <div class="container">
        <div class="group-list">
            <div class="leftnav">
                <h2 id="ChatRooms-head">ChatRooms</h2>
            </div>
            <hr color="black">
            <div class="rooms">
                <ul id="myList">
                    {% for group in groups%}
                    <li>{{ group }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="chat-session">
            <div class="roomshead">
                <h2 id="selected-room">Please select a room</h2>
                <h2>IncognitoChat</h2>
            </div>
            <hr color="black">
            <div class="chatboard">
                <div class="messages">
                    <div class="message">
                            <span class="sender-name"></span>
                            <span></span>
                    </div>
                    <!-- <div class="message receiver">
                        <div class="msgbox-reciver">
                            <span class="receiver-name">bob</span><br>
                            <span>helloe</span>
                        </div>
                    </div> -->
                </div>
                <div class="input-box">
                    <input id="chat-message-input" type="text" placeholder="Type your message...">
                    <button id="send-btn">Send</button>
                </div>
            </div>


        </div>
    </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
<script src="{% static 'js/main.js' %}"></script>

</html>